Protocol                        2
HostKey                         /etc/ssh/ssh_host_ed25519_key
HostKey                         /etc/ssh/ssh_host_rsa_key
ListenAddress                   0.0.0.0
Port                            22
UseDNS                          no
UsePAM                          yes
X11Forwarding                   no
AllowTcpForwarding              no
AllowGroups                     ssh-user
PermitRootLogin                 no
PermitEmptyPasswords            no
PermitUserEnvironment           no
PubkeyAuthentication            yes
PasswordAuthentication          yes
ChallengeResponseAuthentication no
GSSAPIAuthentication            no
ChrootDirectory                 %h
Subsystem                       sftp internal-sftp
#ForceCommand                   internal-sftp
LoginGraceTime                  30
TCPKeepAlive                    yes
ClientAliveInterval             60
ClientAliveCountMax             5
PrintMotd                       no
PrintLastLog                    no
SyslogFacility                  AUTH
LogLevel                        INFO
