Protocol                        2
HostKey                         /etc/sftp/sftp_rsa_host_key
HostKey                         /etc/sftp/sftp_ed25519_host_key
ListenAddress                   0.0.0.0
Port                            2222
UseDNS                          no
UsePAM                          yes
X11Forwarding                   no
AllowTcpForwarding              no
AllowGroups                     ssh-user
PermitRootLogin                 no
PermitEmptyPasswords            no
PermitUserEnvironment           no
AuthorizedKeysCommand           /usr/local/bin/authorized-keys-cmd %h
AuthorizedKeysCommandUser       root
PubkeyAuthentication            yes
PasswordAuthentication          yes
ChallengeResponseAuthentication no
GSSAPIAuthentication            no
ChrootDirectory                 %h
Subsystem                       sftp internal-sftp
#ForceCommand                   internal-sftp
LoginGraceTime                  30
TCPKeepAlive                    yes
ClientAliveInterval             60
ClientAliveCountMax             5
PrintMotd                       no
PrintLastLog                    no
SyslogFacility                  AUTH
LogLevel                        INFO
